* {
    box-sizing: border-box;
    margin: 0;
}
body {
    height: 100vh;
    background-image: url("https://es.web.img3.acsta.net/r_654_368/img/f7/e9/f7e9d8a138b31502ee19b7e09b747a94.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% 70% 15%;
}
p {
    color: aliceblue;
}
footer{
    justify-self: center;
    align-self: center;
}
nav{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgba(176, 46, 241, 0.388);
}
ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0
}
ul > li {
    color: aliceblue;
    list-style: none;
}
li:hover{
    font-size: 20px;
    color: blueviolet;
}
.main{
    justify-self: end;
    align-self: flex-end;
}

#header {
    height: 100%;
    width: 100%;
}
#logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 5px 0 0 5px;
    opacity: 0.5;
}

@media screen and (max-width: 600px){
    p {
        font-size: 30px;
        color:cyan;
    }
    footer{
        justify-self: center;
        align-self: center;
    }
    
    .main{
        justify-self: center;
        align-self: center;
    }
    
    #header {
        align-self: center;
        justify-self: center;
    }
}

@media screen and (max-width: 300px){
    p {
        font-size: 10px;
        color: aliceblue;
    }
    body {
        background-image: url("https://elcomercio.pe/resizer/6PTFaOXW6Rh5nMpmp8BiWBkj9bY=/580x330/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/LXNLTXDN3FCXPBIMQL6EPM5RL4.jpg");
    }
    nav{
        display: none;
    }
}